body {
	background-color: #18BC9C;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: white;
}

#page-wrapper {
	text-align: center;
}
img {
	max-height: 300px;
	height: 300px;
	border-radius: 50px;
	align-content: center;
}
p {
	text-align: center;
	font-size: 16px;
}
.redius

.pull-right {
	float: right !important;
	margin-bottom: 50px;
}